.notfound-container {
  text-align: center;
  padding: 2rem;
}

.notfound-container h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.notfound-container p {
  margin-bottom: 1rem;
  color: #555;
}

.notfound-container a {
  color: rgb(31, 64, 66);
  text-decoration: none;
}

.notfound-container a:hover {
  text-decoration: underline;
}
